[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

"flake8" = "*"
mypy = "*"
tabulate = "*"
black = "==18.6b2"


[dev-packages]



[requires]

python_version = "3.6"
